@model List<ProyectoWeb.Entities.ProductoEnt>

@{
    ViewData["Title"] = "ConsultarProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-11 grid-margin stretch-card" style="margin-left: 50px; margin-top: 30px;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de Productos</h4>
            <div>
                <p>
                    Agregar
                    <a href="@Url.Action("RegistrarProducto","Producto")">
                        <box-icon style="height:20px; width:20px" name='add-to-queue'></box-icon>
                    </a>
                </p>
                
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.nombre</td>
                                <td>@item.descripcion</td>
                                <td>@item.precio</td>
                                <td><img src="@item.imagen" height="50px" width="50px"/></td>
                                <td style="text-align:center">
                                    <a href="@Url.Action("EliminarProductoPorId","Producto", new { q = item.IdProducto })"><box-icon style="height:50px; width:50px" type='solid' name='checkbox-minus'></box-icon></a>
                                    <a href="@Url.Action("EditarProducto","Producto", new { q = item.IdProducto })"><box-icon style="height:45px; width:45px" type='solid' name='edit-alt'></box-icon></a>
                                </td>
                            </tr>
                        } 
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>