@model ProyectoWeb.Entities.UsuarioEnt

@{
    ViewData["Title"] = "IniciarSesion";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post, new { @class = "pt-3" }))
{
    @ViewBag.MensajePantalla

    <div class="mb-3">
        @Html.TextBoxFor(m => m.usuario, new { @class="form-control form-control-lg", @type="text", @placeholder="Usuario / Correo"})
        @Html.ValidationMessageFor(m => m.usuario, null, new { @style = "color:red" })
    </div>
    <div class="mb-3">
        @Html.TextBoxFor(m => m.contrasenna, new { @class="form-control form-control-lg", @type="password", @placeholder="Contraseña"})
    </div>
    <div class="mt-3 text-center mt-4">
        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="INICIAR SESIÓN">
    </div>
    <div class="text-center mt-4 font-weight-light">
        ¿No tienes una cuenta? <a href="@Url.Action("RegistrarCuenta", "Login")" class="text-primary">Registrarse</a> <br />
        
    </div>
}
