@model ProyectoWeb.Entities.UsuarioEnt

@{
    ViewData["Title"] = "RegistrarCuenta";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@using (Html.BeginForm("RegistrarCuenta", "Login", FormMethod.Post, new { @class = "pt-3" }))
{
    @ViewBag.MensajePantalla

    <div class="mb-3">
        @Html.TextBoxFor(m => m.identificacion, new {@class="form-control form-control-lg", @type="text", @placeholder="Identificación" })
    </div>
    <div class="mb-3">
        @Html.TextBoxFor(m => m.nombre, new {@class="form-control form-control-lg", @type="text", @placeholder="Nombre" })
    </div>
    <div class="mb-3">
        @Html.TextBoxFor(m => m.usuario, new { @class="form-control form-control-lg", @type="text", @placeholder="Usuario" })
    </div>
    <div class="mb-3">
        @Html.TextBoxFor(m => m.correo, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Correo Electrónico" })
    </div>
    <div class="mb-3">
        @Html.TextBoxFor(m => m.contrasenna, new {@onkeypress="return EvitarEspacios(event)", @onpaste="return false", @ondrop="return false", @class="form-control form-control-lg", @type="password", @placeholder="Contraseña"})
    </div>

    <div class="mt-3">
        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="REGISTRARSE">
    </div>
    <div class="text-center mt-4 font-weight-light">
        ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion","Login")" class="text-primary">Iniciar Sesión</a>
    </div>
}


<script src="~/js/consultanombreapi.js"></script>