@model List<ProyectoWeb.Entities.ReservasEnt>

@{
    ViewData["Title"] = "VerReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-11 grid-margin stretch-card" style="margin-left: 50px; margin-top: 30px;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Todas las reservas realizadas</h4>
            <div>
                <p>
                    Agregar Reserva
                    <a href="@Url.Action("InsertarReserva","Reservas")">
                        <box-icon style="height:20px; width:20px" name='add-to-queue'></box-icon>
                    </a>
                </p>

            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>A nombre de</th>
                            <th>Fecha reserva</th>
                            @if (Context.Session.GetString("RolUsuario") == "2" || Context.Session.GetString("RolUsuario") == "3")
                            {
                                <th>Acciones</th>
                            }


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NombreUsuario</td>
                                <td>@item.fecha_reserva</td>
                                @if (Context.Session.GetString("RolUsuario") == "2" || Context.Session.GetString("RolUsuario") == "1")
                                {
                                    
                                    <td style="text-align:center">
                                        
                                        <a href="@Url.Action("ActualizarReserva","Reservas", new { q = item.IdReservas, i = item.IdUsuario })">
                                            <box-icon style="height:45px; width:45px" type='solid' name='edit-alt'></box-icon>
                                        </a>
                                    </td>
                                }
                                @if (Context.Session.GetString("RolUsuario") == "3")
                                {
                                    <td style="text-align:center">
                                        <a href="@Url.Action("EliminarReservaPorId","Reservas", new { q = item.IdReservas })">
                                            <box-icon style="height:50px; width:50px" type='solid' name='checkbox-minus'></box-icon>
                                        </a>
                                        <a href="@Url.Action("ActualizarReserva","Reservas", new { q = item.IdReservas, i = item.IdUsuario })">
                                            <box-icon style="height:45px; width:45px" type='solid' name='edit-alt'></box-icon>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>